Repository latifie/evently: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client, server

.gitlab-ci.yml:

stages:
  - root

client:
  stage: root
  trigger:
    include: .gitlab-ci/client.yml
    strategy: mirror
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Avoid running the branch pipeline if there already a MR for that branch (and thus running only a MR pipeline in that case).
    - if: "$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS"
      when: never
    - if: "$CI_COMMIT_BRANCH"
    - changes:
        - .gitlab-ci/client.yml
        - client/*

server:
  stage: root
  trigger:
    include: .gitlab-ci/server.yml
    strategy: mirror
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Avoid running the branch pipeline if there already a MR for that branch (and thus running only a MR pipeline in that case).
    - if: "$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS"
      when: never
    - if: "$CI_COMMIT_BRANCH"
    - changes:
        - .gitlab-ci/server.yml
        - server/*

Edit CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(events):Ajout de la page évènements avec dashboard crud events
  client/index.html
  client/src/components/Navbar/index.tsx
  client/src/components/ui/customs/textarea.tsx
  client/src/interfaces/Events.d.ts
  client/src/locales/en.json
  client/src/locales/fr.json
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/eventForm.tsx
  client/src/pages/Events/index.tsx
  client/src/router/routes.tsx
  server/src/controllers/eventController.ts
  server/src/controllers/eventSignupController.ts
  server/src/models/eventModel.ts
  server/src/models/eventSignupModel.ts
  server/src/routes/eventsRoutes.ts
  server/src/routes/eventsSignupsRoutes.ts
  server/src/routes/router.ts
Due: client

feat(event): ajout du support du format webp pour image de profils
  client/src/components/Navbar/index.tsx
  server/src/controllers/uploadController.ts
Due: none

feat(event): modification commentaire route backend veriftoken admin
  server/src/routes/eventsRoutes.ts
Due: none

feat(event): fix bug inscription
  server/src/controllers/eventSignupController.ts
Due: none

feat(event): Ajout du bouton inscription et de la gestion des inscriptions
  client/src/components/customs/signupButton.tsx
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/index.tsx
Due: none

feat(event): Ajout de la catégorie et du prix
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/eventForm.tsx
Due: none

feat(event): fix type owner et ajoute clean avatar dans dashboard event
  client/src/interfaces/Events.d.ts
  client/src/pages/Events/columns.tsx
Due: none

Ajout d'une page d'évènements vide
  client/src/pages/Events/index.tsx
  client/src/router/routes.tsx
Due: none

feat(events): Changement de start_date et end_date en camelCase
  client/src/interfaces/Events.d.ts
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/eventForm.tsx
  server/src/models/eventModel.ts
Due: none

feat(event): Ajout de la capacité
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/eventForm.tsx
  server/src/models/eventModel.ts
Due: none

feat(event) ajout de l'affichage conditionnel(owner) de modification suppression events
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/index.tsx
  server/src/controllers/eventController.ts
  server/src/routes/eventsRoutes.ts
Due: none

feat(event): ajout résilience capacity
  server/src/controllers/eventController.ts
  server/src/controllers/eventSignupController.ts
  server/src/models/eventSignupModel.ts
  server/src/utils/updateCapacity.ts
Due: none

ci: Ajout coverage %
  .gitlab-ci/server.yml
  README.md
Due: server

ci: Ajout check linting & fix coverage regex
  .gitlab-ci/server.yml
Due: server

ci: Fix chemins lint
  .gitlab-ci/server.yml
Due: server

docs: Ajout badge pipeline au README
  README.md
Due: none

feat(roles): Ajout rôle user ORGANIZER
  client/src/components/customs/userRoleBadge.tsx
  client/src/locales/en.json
  client/src/locales/fr.json
  client/src/pages/Admin/components/users/userForm.tsx
  client/src/pages/Events/columns.tsx
  client/src/pages/Events/index.tsx
  server/src/controllers/eventController.ts
  server/src/middlewares/verifyToken.ts
  server/src/routes/eventsRoutes.ts
  server/src/utils/enums/userRoles.ts
  server/src/utils/isUserRoleAuthorized.ts
Due: none

ci/client : Ajout check linting
  .gitlab-ci/client.yml
Due: client

fix: corrections CORS, auth, routes et page Home
  client/index.html
  client/src/contexts/authContext.tsx
  client/src/contexts/configContext.tsx
  client/src/contexts/socketContext.tsx
  client/src/interfaces/Events.d.ts
  client/src/pages/Authentication/register.tsx
  client/src/pages/Home/index.tsx
  client/src/router/protectedRoute.tsx
  client/src/router/routes.tsx
  server/src/controllers/eventController.ts
Due: client

Update login + register + event page frontend
  client/src/pages/Authentication/login.tsx
  client/src/pages/Authentication/register.tsx
  client/src/pages/Events/eventForm.tsx
  client/src/pages/Events/index.tsx
Due: none

Update frontend lil modifications
  client/src/pages/Events/index.tsx
  client/src/pages/Home/index.tsx
Due: none
